@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100vh;
  background-color: #181820;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container::after {
  content: "";
  position: absolute;
  background: linear-gradient(to top right, #101016, #14141b, #313142);
  width: 100px;
  height: 100px;
  left: 62%;
  border-radius: 50%;
  top: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top right, #8a2be2, #ff69b4, #ffa500);
  width: 200px;
  height: 200px;
  right: 60%;
  border-radius: 50%;
  top: -7%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
input[type="text"],
input[type="password"] {
  color: #fff;
  width: 300px;
  height: 42px;
  padding: 5px 15px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid #30303d;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.5;
}
  
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #d1d1d2;
  font-size: 14px;
  font-weight: 500;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}
  
.button {
  width: 300px;
  height: 46px;
  color: #fff;
  background: linear-gradient(to top right, #8a2be2, #ff69b4, #ffa500);
  border: none;
  margin-top: 10px;
  border-radius: 12px;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  transition: all .3s ease;
  position: relative;
}

.button:hover {
  background: linear-gradient(to top left, #8a2be2, #ff69b4, #ffa500);
}

.registrationLink {
  font-size: 14px;
  color: #b5b5b7;
  margin-top: 20px;
}
  
.registerLink {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}

.loginLink {
  font-size: 14px;
  color: #b5b5b7;
  margin-top: 20px;
}
    
.loginFormLink {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}

